body{
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

footer{
    background-color: cadetblue;
}

#onlypicture{ 
    float: right;
}

p{
    background-color: crimson;
}